# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables and secrets
.env
.env.*
!.env.example
secrets/

# Docker
.docker/

# Database
*.sqlite3
*.db

# Logs
logs/
*.log
data/logs/
data/logs/**/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
